@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background-color: #f3f3f3;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 98vh;
  max-width: 100vw;
  margin-top: -2.8rem;
}
p {
  font-size: 18rem;
}
button {
  display: block;
  font-size: 1.3rem;
  margin: 0.8rem 0.5rem 0 0;
}
.btn_container {
  display: flex;
  justify-content: flex-end;
}
.foreword {
  margin-left: 50%;
  margin-top: 3%;
  transform: translate(-50%);
  font-family: Lato, sans-serif;
}
.foreword_title {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.foreword_header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}
.foreword_text {
  margin-bottom: 10rem;
}
.foreword_text > p {
  font-size: 2.2em;
  margin-top: 2.5rem;
  font-weight: bold;
}
.foreword_text > ul > li {
  font-size: 2.2em;
}
.modal {
  font-size: 2.2rem;
  color: #aaa;
  cursor: pointer;
}
.separation_wrapper {
  border: 3px solid #ccc;
}
.separation_container {
  width: 90%;
  margin: 3rem;
}
.separation_container > h2 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.separation_container > p {
  font-size: 2rem;
  line-height: 3.3rem;
}
.separation_container > p > a {
  font-size: 2rem;
  /* text-decoration: none; */
  color: #000;
}
.separation_container > ol {
  margin: 3rem;
}
.separation_container > ol > li {
  font-size: 1.8rem;
  line-height: 3rem;
}
.separation_container > ol > li > ul {
  margin-left: 3rem;
  list-style-type: disc;
}
.separation_container > ol > li > ul > li {
  font-size: 2rem;
  line-height: 3.3rem;
}
.separation_mark {
  font-size: 2.6rem;
  font-weight: bold;
}
.wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container:nth-child(2n) {
  background-color: #ccc;
}
.veg_items {
  font-size: 2.4rem;
  text-align: start;
  padding: 0.8rem;
}
.grate {
  text-decoration: none;
  color: #c9c9c9;
}

@media screen and (max-width: 720px) {
  .modal {
    font-size: 2rem;
  }
  .foreword_title {
    font-size: 2.6rem;
  }
  .foreword_header {
    font-size: 2rem;
  }
  .foreword_text > ul > li {
    font-size: 1.8rem;
  }
  .foreword_text > p {
    font-size: 2rem;
  }
  .separation_container {
    width: 90%;
    margin: 2.6rem;
  }
  .separation_container > h2 {
    font-size: 3.2rem;
    margin-bottom: 2.6rem;
  }
  .separation_container > p {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .separation_container > p > a {
    font-size: 1.8rem;
    /* text-decoration: none; */
    color: #000;
  }
  .separation_container > ol {
    margin: 2.6rem;
  }
  .separation_container > ol > li {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .separation_container > ol > li > ul {
    margin-left: 2.6rem;
    list-style-type: disc;
  }
  .separation_container > ol > li > ul > li {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .separation_mark {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .veg_items {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    font-size: 1.2rem;
  }
  .foreword_title {
    font-size: 2rem;
  }
  .foreword_header {
    font-size: 1.6rem;
  }
  .foreword_text > ul > li {
    font-size: 1.2rem;
  }
  .foreword_text > p {
    font-size: 1.2rem;
  }
  .separation_container {
    width: 90%;
    margin: 2.4rem;
  }
  .separation_container > h2 {
    font-size: 3rem;
    margin-bottom: 2.2rem;
  }
  .separation_container > p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .separation_container > p > a {
    font-size: 1.6rem;
    /* text-decoration: none; */
    color: #000;
  }
  .separation_container > ol {
    margin: 2.4rem;
  }
  .separation_container > ol > li {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .separation_container > ol > li > ul {
    margin-left: 2.4rem;
    list-style-type: disc;
  }
  .separation_container > ol > li > ul > li {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .separation_mark {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .veg_items {
    font-size: 1.2rem;
  }
}
